{% load i18n %}

<div class="modal fade" id="chartparams" style="display:none;">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>{% trans "Chart parameters" %}</h3>
    </div>
    <div class="modal-body modal-body form-horizontal">

      <div class="form-group">
        <label for="chartparam-type" class="col-sm-3 control-label">{% trans "Type" %}:</label>
        <div class="col-sm-9">
          <select id="chartparam-type">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="chartparam-dimension0" class="col-sm-3 control-label">{% trans "Dimension" %}:</label>
        <div class="col-sm-9">
          <select id="chartparam-dimension0" class="chartparam-dimension">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="chartparam-measure0" class="col-sm-3 control-label">{% trans "X axis" %}:</label>
        <div class="col-sm-9">
          <select id="chartparam-measure0" class="chartparam-measure">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="chartparam-measure1" class="col-sm-3 control-label">{% trans "Y axis" %}:</label>
        <div class="col-sm-9">
          <select id="chartparam-measure1" class="chartparam-measure">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="chartparam-measure2" class="col-sm-3 control-label">{% trans "Z axis" %}:</label>
        <div class="col-sm-9">
          <select id="chartparam-measure2" class="chartparam-measure">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="chartparam-sort" class="col-sm-3 control-label">{% trans "Sort by" %}:</label>
        <div class="col-sm-9">
          <select id="chartparam-sort">
            <option value="key">{% trans "Alphabetical order" %}</option>
            <option value="valuedesc">{% trans "Value (desc)" %}</option>
            <option value="valueasc">{% trans "Value (asc)" %}</option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="chartparam-labelChoice" class="col-sm-3 control-label">{% trans "Show labels" %}:</label>
        <div class="col-sm-9">
          <input type="checkbox" id="chartparam-labelChoice" />
        </div>
      </div>

      <div class="form-group">
        <label for="chartparam-playerTimeout" class="col-sm-3 control-label">{% trans "Speed to play time (ms)" %}:</label>
        <div class="col-sm-9">
          <input type="number" min="50" id="chartparam-playerTimeout" />
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
      <a href="#" class="btn btn-danger" id="chartparams-delete">{% trans "Remove chart" %}</a>
      <a href="#" class="btn btn-primary" id="chartparams-set">{% trans "Update chart" %}</a>
    </div>

  </div>
</div>
