{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% block title_sub %}{% trans "Explore Analyses" %}{% endblock %} - {{ block.super }} {% endblock %}

{% block body_class %}analytics{% endblock %}

{% block body_outer %}
  <!-- <div class="span12">
    <ul class="nav nav-tabs" id="subnav-tabs">
      <li><a href="{% url "analyses_browse" %}" class="explore">{% trans 'Explore Analyses' %}</a></li>
    </ul>
  </div> -->
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock %}
