{% extends "analytics/analysis_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block body_class %}analytics explore{% endblock %}

{% block body %}
<div class="page-header">
    <a href="{% url 'new_analysis' %}" class="btn btn-primary pull-right">{% trans "Create a New Analysis" %}</a>
    <h2>{% trans "Explore Analyses" %}</h2>
</div>
  {% include "search/_search_content.html" %}
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=analysis'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='analysis' %}';
      {% endif %}
      FILTER_TYPE = 'analysis';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
