{% extends "site_base.html" %}

{% load i18n %}
{% load base_tags %}

{% block title %} {% trans "Analytics" %} - {{ block.super }} {% endblock %}

{% block body_class %}analytics{% endblock %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}analytics/css/dc.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}analytics/css/analysis_view.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}analytics/css/pnotify.custom.min.css">
{% endblock %}


{% block middle %}

    {% include "analytics/_save_form.html" %}
    {% include "analytics/_confirmation_form.html" %}
    {% include "analytics/_option_form.html" %}
    {% include "analytics/_login_form.html" %}
    {% include "analytics/_color_form.html" %}

    <div id="toolbox">
        <div class="pull-right">
          <a id="addchart" class="btn btn-default btn-md" href="#"><i class="fa fa-plus"></i> {% trans "Add a chart" %}</a>
          <a id="reset" class="btn btn-default" href="#"><i class="fa fa-refresh"></i> {% trans "Reset Filters" %}</a>
          <a id="resize" class="btn btn-default"><i class="fa fa-arrows-v fa-nomargin"></i></a>
            {% if not analysis %}
                <a id="analysis-save" href="{% if user.is_authenticated %}#modal_analysis{% else %}#modal_analysis_login{% endif %}" class="btn btn-primary" data-toggle="modal" >{% trans "Save Analysis" %}</a>
            {% else %}
                <a id="analysis-update" class="btn btn-primary" {% if not user.is_authenticated %}disabled="disabled"{% endif %}>{% trans "Save Analysis" %}</a>
                <a href="{% if user.is_authenticated %}#modal_analysis{% else %}#modal_analysis_login{% endif %}" class="btn btn-primary" data-toggle="modal">{% trans "Save Analysis as" %}</a>
            {% endif %}

        </div>

        <div id="fact-selector">&nbsp;</div>
    </div>

    <div id="columns">
      <div class="chart-columns" id="left-pane">
          <!--<a id="reset" class="btn btn-primary btn-sm fa fa-refresh" href="#">  Reset Filters</a>-->
      </div>

      <div class="chart-columns chart-columns-sortable" id="middle-pane">
      </div>

      <div class="chart-columns chart-columns-sortable" id="right-pane">
      </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}analytics/js/d3.v3.min.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}analytics/js/crossfilter.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}analytics/js/crossfilter-server.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}analytics/js/dc.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}analytics/js/wicket.js" type="application/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}/analytics/js/Save.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/pnotify.custom.min.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/colorbrewer.v1.min.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/jquery.resizableColumns.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/bootbox.min.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/simple_statistics.js" type="application/javascript"></script>
{% if fixtures %}
<script src="{{ STATIC_URL }}/analytics/js/helpers/cube.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/helpers/fixtures.js" type="application/javascript"></script>
{% else %}
<script src="{{ STATIC_URL }}/analytics/js/QueryAPI.js" type="application/javascript"></script>
{% endif %}
<script src="{{ STATIC_URL }}analytics/js/analytics.test.js" type="application/javascript" charset="utf-8"></script>
<script>

  Save.init('#modal_analysis', '#title-save', '#abstract-save', '#modal_analysis_login');
  $("#permission_form").submit(function() { return false; });
  $("#analysis_submit").click(function () {
    Save.save(this, analytics.state());
  });
  $("#login-submit").click(function () {
    Save.authenticate('#analysis-save', '{% url 'account_ajax_login' %}', $("#login_form").serialize());
  });

  var state;

  {% if config %}
    state = JSON.parse({{ config|safe|removetags:"script" }});
  {% endif %}

  {% if analysis %}
    state = JSON.parse({{ analysis.data|safe|removetags:"script" }});
    $("#analysis-update").click(function () {
      PNotify.prototype.options.delay = 3000;
      Save.update({{ analysis.id }}, analytics.state());
    });
  {% endif %}

  analytics.setCsts({{ csts|safe }});
  {% if fixtures %}
    analytics.init(generateAPI([c]), state);
  {% else %}
    analytics.init(new QueryAPI(), state);
  {% endif %}


</script>
{% endblock %}
