{% extends "site_base.html" %}

{% load i18n %}
{% load base_tags %}

{% block title %} {% trans "Analytics" %} - {{ block.super }} {% endblock %}

{% block body_class %}analytics{% endblock %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}analytics/css/dc.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}analytics/css/analysis_view.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}analytics/css/pnotify.custom.min.css">
{% endblock %}


{% block middle %}

    {% include "analytics/_save_form.html" %}
    {% include "analytics/_option_form.html" %}
    {% include "analytics/_login_form.html" %}

    <div id="toolbox">
        <div class="pull-right">

            {% if not analysis %}
                <a id="analysis-save" href="{% if user.is_authenticated %}#modal_analysis{% else %}#modal_analysis_login{% endif %}" class="btn btn-primary" data-toggle="modal" >{% trans "Save Analysis" %}</a>
            {% else %}
                <a id="analysis-update" class="btn btn-primary" {% if not user.is_authenticated %}disabled="disabled"{% endif %}>{% trans "Save Analysis" %}</a>
                <a href="{% if user.is_authenticated %}#modal_analysis{% else %}#modal_analysis_login{% endif %}" class="btn btn-primary" data-toggle="modal">{% trans "Save Analysis as" %}</a>
            {% endif %}

            <a id="resize" class="btn btn-default fa fa-arrows-v"></a>
        </div>

        <div id="fact-selector">&nbsp;</div>
    </div>

    <div id="columns">
      <div class="chart-columns" id="left-pane">
          <a id="reset" class="btn btn-primary btn-sm fa fa-refresh" href="#">  Reset Filters</a>
          <div id="clouds"></div>
      </div>

      <div class="chart-columns" id="middle-pane">
          <div id="map"></div>
          <div id="timeline"></div>
          <div id="table"></div>
      </div>

      <div class="chart-columns" id="right-pane">
          <div id="rightChart1"></div>
          <div id="rightChart2"></div>
      </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}/analytics/js/d3.v3.min.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/crossfilter.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/crossfilter-server.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/dc.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}analytics/js/Query.js" type="application/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}analytics/js/wicket.js" type="application/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}analytics/js/Display.js" type="application/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}analytics/js/FactSelector.js" type="application/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}/analytics/js/Save.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/pnotify.custom.min.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/QueryAPI.js" type="application/javascript"></script>
<script src="{{ STATIC_URL }}/analytics/js/jquery.resizableColumns.js" type="application/javascript"></script>
<script>
  Query.queryAPI = new QueryAPI();
  var headerShown = true;
  var paddingTop = null;

  Display.tips = {
    {% for tip in chart_tips %}
      '{{ tip.chart_type }}' : '{{ tip.message|linebreaksbr }}',
    {% endfor %}
  }

  $("#resize").click(function() {
    if (headerShown) {
      $(".navbar").hide();
      $(".chart-columns").css("top", "50px");
      paddingTop = $("body").css("padding-top");
      $("body").css("padding-top", "0");
      headerShown = false;
      Display.resizeCharts(true);
    } else {
      $(".navbar").show();
      $(".chart-columns").css("top", "100px");
      paddingTop = $("body").css("padding-top", paddingTop);
      headerShown = true;
      Display.resizeCharts(true);
    }
  });

  Save.init('#modal_analysis', '#title-save', '#abstract-save', '#modal_analysis_login');
  $("#permission_form").submit(function() { return false; });
  $("#analysis_submit").click(function () {
    Save.save(this, Display.getState());
  });
  $("#login-submit").click(function () {
    Save.authenticate('#analysis-save', '{% url 'account_ajax_login' %}', $("#login_form").serialize());
  });

  {% if config %}
    Display.setState(JSON.parse({{ config|safe|removetags:"script" }}));
  {% endif %}

  {% if analysis %}
    Display.setState(JSON.parse({{ analysis.data|safe|removetags:"script" }}));
    $("#analysis-update").click(function () {
      PNotify.prototype.options.delay = 3000;
      Save.update({{ analysis.id }}, Display.getState());
    });
  {% endif %}

  Display.init();
</script>
{% endblock %}
