/***** TOOLBOX *****/

#toolbox {
	background: #C8E9F3;
	padding: 7px 0;
	text-align: left;
	color: #424242;
	border-bottom: 1px solid #B0D5E0;
	height: 50px;
}

#toolbox #fact-selector {
	display: inline;
}

#toolbox #fact-selector > div {
	display: inline;
	padding: 0 0 0 15px;
}

#toolbox #fact-selector .dropdown-menu {
	max-height: 450px;
	overflow-x: hidden;
}

#toolbox #fact-selector > div > ul {
	padding: 0 0 0 7px;
	margin: 0;
}

#wrap {
	padding: 0px;
}

#toolbox #resize {
	margin-right: 5px;
}

/***** COLUMNS *****/

html, body {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	background: #FDFDFD;
}

#left-pane {
	position:absolute;
	left: 0;
	top:100px;
	bottom:0;
	width:25%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #F7FDFF;
}

#middle-pane {
	position:absolute;
	left: 25%;
	top:100px;
	bottom:0;
	width:50%;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: inset 0px 0px 6px rgba(0,0,0,0.25);
}

#right-pane {
	position:absolute;
	right: 0;
	top:100px;
	bottom:0;
	width:25%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #F7FDFF;
}

#reset {
	position: absolute;
	top: 7px;
	right: 0;
}

/***** CHARTS *****/

div.dc-chart {
	float: none;
	position: relative;
}

.btn-params {
	position: absolute;
	top: 5px;
	right: 5px;
}

.chart-columns svg {
	margin: 0 auto;
	display: block;
}

.fa-nomargin {
	margin: 0;
}


.wordcloud-title {
	display: block;
	font-size: 150%;
	margin: 15px 0 10px;
	text-align: center;
}

#map {
	width: 100%;
	height : 70%;
}

#map svg {
	float: left;
}

#zoom {
	position: absolute;
	right: 0;
	bottom: 5px;
}

#timeline {
	width: 100%;
	height: 30%;
}

#rightChart1, #rightChart2 {
	height: 44%;
	margin: 15px 0;
	min-height: 250px;
}

#table {
	border-collapse: collapse;
	background: #EEE;
	border-spacing: 0;
	width: 55%;
	margin: 20px auto 0;
}

#table th, #table table td {
	padding: 10px;
}

#table th {
	background: #5B799E;
	border-bottom: 5px solid #36485e;
	border-right: solid 1px #475F7C;
}

#table td {
	border-right: 1px solid #FFF;
	padding: 4px 7px;
}

#table tr.odd td {
	background: #E6E6E6;
}

#table .selected {
	font-weight: bold;
}

#table .deselected {
	color: #CCC;
}

#table .dc-table-group {
	display: none;
}

/***** SAVE *****/

#abstract-save {
	width: 98%;
	resize: none;
}

#title-save {
	width: 98%;
}
